NEXT_PUBLIC_SITE_URL=http://localhost:3000
ROBLOX_GAME_URL=

GEMINI_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID_DEFAULT=

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USERNAME=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=
SNOWFLAKE_ROLE=

SOLANA_RPC_URL=
NEXT_PUBLIC_SOLANA_RPC_URL=